.contactme {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    gap: 10px;
}

.link {
    /* height: 250px;
    width: 500px;
    background-color: darkblue; */
    /* width: 100%; */
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;

    color: var(--low-contrast-color);
    font-size: 15px;
    text-decoration: none;
}

.reachout {
    color: var(--high-contrast-color);
    font-size: 40px;
}

.link>.Logo {
    fill: var(--low-contrast-color);
}