.myexperience {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.myexperience>div {
    height: 250px;
    width: 500px;
    background-color: brown;
}