.myexperience {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.choices {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    height: 350px;
    width: 200px;
    background-color: transparent;
    border: 1px gray solid;
}
.choices>p{
    width: 100%;
    height: 40px;

    display: flex;
    align-items: center;
    padding-left: 10px;
    margin: 0px;
    text-align: left;
    vertical-align: middle;

    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
    color: lightgray;
}
.choices>p:hover{
    background-color: gray;
    cursor: pointer;
}
.choices>.active {
    background-color: gray;
}

.description {
    height: 350px;
    width: 500px;
    background-color: transparent;
    border: 1px gray solid;
    text-align: left;
    
    padding: 10px;
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
}